* {
  margin: 0
}

img {
  width: 400px;
  height: 400px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ======================== products containers ==================================== */

#outer-products-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.products {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto)); /*1fr*/
  grid-gap: 1rem 1rem;
  justify-content: center;
}

/* ======================== each product in list ==================================== */

.product-small {
  width: 300px;
  height: 300px;
  outline: solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 200px;
  width: 200px;
}

.product-name {
  font-size: 20px;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}

/* ======================== shopping cart ==================================== */

#shopping-cart {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
}

#shopping-cart-image {
  height: 40px;
  width: 40px;
  border-style: outset;
  border-radius: 5px;
  border-color: #5173AF;
}

.cart-number {
  background-color: yellow;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  top: 28px;
  right: 24px;
  font-size: 10px;
  line-height: 1.5;
}

/* #shopping-cart:active {

} */
